@media(max-width:1000px){
    
    /* left container */
    
    .left-container{
        
        display: none;
        
    }
    
    .mobile-nav{
        
        display: block;
        background-color: black;
        height: 80px;
        width: 100%;
        padding: 9px 15px;
        position: fixed;
        
    }
    
    .mobile-logo{
        
        float: left;
        
    }
    
    .mobile-logo img{
        
        height: 64px;
        
    }
    
    .nav-options{
        
        float: right;
        color: white;
        font-size: 64px;
        cursor: pointer;
        
    }
    
    .mobile-logo h1{
        
        color: white;
        float: right;
        font-size: 18px;
        line-height: 3.5;
        padding-left: 20px;
        font-family: 'IM Fell French Canon SC', serif;
        
    }
    
    
    /* right container */
    
    .right-container{
        
        width: 100%;
        padding-right: 0px;
        
    }
    
    .right-header{
        
        margin-top: 90px;
        margin-bottom: 0;
        
    }
    
    /* QUOTES SECTION */
    
    .introduction{
        
        width: 100%;
        
    }
    
    /* side navigation */
    
    .side-nav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 100px;
        transition: 0.5s;
    }
    
    .side-nav a{
        padding: 8px 8px 24px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        font-weight: bold;
    }
    
    .side-nav a:hover{
        color: #f1f1f1;
    }
    
    .side-nav .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        font-weight: normal;
    }
    
}

@media(max-width:670px){
    
    
    .nav-options{
        
        font-size: 48px;
        padding-top: 10px;
        
    }
    
    .mySlides img{
        
        width: 25%;
        margin-left:5%;
        
        
    }
    
    /* QUOTES SECTION */
    
    .text-intro{
        
        padding-top: 20%;
        font-size: 3vw;
        padding-bottom: 20px;
        
    }
    
    .top5-container .mytext{
        padding: 75px 50px;
    }
    
    .top5-container .mytext p{
        font-size: 16px;
    }