*{
    
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}

body{
    
   font-family: 'Raleway', sans-serif; 
    
}

/* HIDING MOBILE NAV */

.mobile-nav{
    
    display: none;
}

.side-nav{
    display: none;
}

/* ADDING STYLE TO LEFT MENU */

.left-container{
    
    width: 25%;
    height: 100%;
    float: left;
    padding-top: 33px;
    padding-left: 50px;
    padding-right: 30px;
    z-index: 3;
}

/* .logo{
    
    font-size: 18px;
    margin-bottom: 115px;
    
} */

.logo img{
    
    height: 150px;
    
}

.logo h1{
    
    margin-bottom: 115px;
    font-size: 18px;
    margin-top: 15px;
    font-family: 'IM Fell French Canon SC', serif;
    line-height: 200%;
    
}

.nav-menu ul{
    
    list-style: none;
    
}

.nav-menu li{

    padding: 16px;

}

.nav-menu li:hover{
    
    background-color: #A9A9A9;
    
}

.nav-menu a{
    
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

/* right container top section */

.clear{
    
    clear: both;
    
}

.right-container{
    
    width: 75%;
    height: 100%;
    float: left;
    padding-right: 30px;
}

.right-header{
    
    height: 52px;
    margin: 33px 18px;

}

.right-header h2{
    
   float: left; 
    
}


/* QUOTES SECTION */

.introduction{
    
    background-color: rgba(192,192,192,0.2);
    height: 300px;
    
}

.introduction img{
    
    float: left;
    height: 250px;
    margin: 25px;
    
}

.text-intro{
   
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    font-size: 2vw;
    text-align: center;
    font-weight: normal;
}

.text-intro p{
    
    margin: 10px;
    
}

/* animation */

.mySlides{
    
    display: none;
    
}

.dot{
    
    height: 15px;
    width:15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}

.active{
    
    background-color: #717171;
    
}

.fade{
    
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    
}

@webkit-keyframes fade{
    
    from{opacity: 4}
    to{opacity: 1}
    
}

@keyframes fade{
    
     from{opacity: 4}
    to{opacity: 1}
    
}

/* TOP 5 SECTION */

.top5-heading{
    
    text-align: center;
    margin-top: 60px;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 3px;
    font-size: 18px;
     
}

.top5-container{
    
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
    
}

.mytext{
    
    padding-top: 75px;
    
}

.mytext .punjabi{
    
    padding-top: 10px;
    font-size: 24px;
    font-family: 'Baloo Paaji 2', cursive;
    
}

.poet{
    
    font-size: 19px;
    font-weight: bolder;
    padding-top: 24px;
    
}

.mytext{
    
    display: none;
    
}

.prev,.next{
    
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select:none;
    
}

.next{
    
    right: 0;
    border-radius: 3px 0 0 3px;
    
}

.prev:hover,.next:hover{
    
    background-color: rgba(0,0,0,0.8);
    color: white;
    
}